---
interface Props {
  title: string;
  description: string;
  year: string;
  type: string;
  size: string;
  src: string;
}

const { title, description, year, type, size, src } = Astro.props;
---

<div
  class={size === "small"
    ? "w-full border-black relative text-white hover:rounded-lg hover:overflow-hidden hover:cursor-pointer transition ease-in-out"
    : "w-full border-black col-span-2 row-span-2 relative text-white hover:rounded-lg hover:overflow-hidden hover:cursor-pointer transition ease-in-out"}
>
  <div class="absolute p-2">
    <p class="bg-black px-1 font-bold">{title}</p>
    <p class="bg-black px-1 text-xs italic">{type}</p>
  </div>
  <div class="absolute p-2 right-0">
    <p class="bg-black px-1 text-xs">{year}</p>
  </div>
  <div class="absolute p-2 bottom-0">
    <p class="bg-black px-1 text-xs">{description}</p>
  </div>
  <img src={src} />
</div>

<style>
  img {
    width: 100%;
  }
</style>
