---
import CardLabel from "./Card-label.astro";

interface Props {
  href: string;
  title: string;
  types: { text: string; special: boolean }[];
  year: string;
  description?: string;
}

const {
  href,
  title,
  types,
  year,
  description = "",
} = Astro.props;
---

<a
  class=`group flex flex-col space-y-2 col-span-6 md:col-span-3 2xl:col-span-2 cursor-pointer`
  href={href}
>
  <div
    class="grid grid-cols-6 bg-purewhite gap-4 p-4 dark:bg-dark-surface rounded-lg border border-zinc-200 dark:border-dark-border group-hover:border-zinc-300 dark:group-hover:border-dark-surface-hover transition card h-full"
  >
    <div class="col-span-6">
      <div class="block overflow-hidden w-full rounded-md">
        <div class="bg-white dark:bg-dark-surface">
          <slot />
        </div>
      </div>
    </div>
    <div class="col-span-6">
      <CardLabel
        value={title}
        types={types}
        year={year}
        isLarge={false}
        description={description}
      />
    </div>
  </div>
</a>

<style>
  .card {
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    will-change: transform, box-shadow;
  }
</style>
