---
import CardLabel from "./Card-label.astro";

interface Props {
  size: string;
  href: string;
  title: string;
  types: { text: string; special: boolean }[];
  year: string;
  myColor?: string;
  description?: string;
}

const {
  size,
  href = "#",
  title,
  types,
  year,
  myColor,
  description,
} = Astro.props;

let mainClasses;
if (size === "small") {
  mainClasses = "rounded-md bg-white group w-full hover:cursor-pointer col-span-1 lg:col-span-2";
} else {
  mainClasses = "rounded-md bg-white group w-full hover:cursor-pointer col-span-1 lg:col-span-3 lg:row-span-2";
}

let typeNames: string;

for (let i = 0; i < types.length; i++) {
  typeNames = typeNames + " " + types[i].text;
}
---

<div class:list={[mainClasses, typeNames]}>
  <div class="relative overflow-hidden h-full">
    <a href={href} class=" transition-all flex flex-col h-full">
      <div class="m-auto transition-all grow">
        <slot />
      </div>
      <div class="align-middle w-full pt-3 absolute bottom-0 pb-1 pl-1 opacity-0 group-hover:opacity-100 transition-all">
        <div class="items-baseline flex justify-between align-top">
          <CardLabel value={title} , isLarge={true} />
          <!-- <div class="text-xs text-gray">
            <CardLabel value={year} , isLarge={false} />
          </div> -->
        </div>
        <div class="">
        <div class="flex">
          <div class="bg-white flex gap-1 px-1 ">
          <p class="text-gray text-xs text-light">{year}; </p>
            {
              types.map((type, i) => (
              <div class={type.special ? "text-blue text-xs text-light" : "text-gray text-xs text-light"}>
                <p>{i == types.length - 1 ? type.text : type.text + ','} </p>
              </div>
              ))
            }
          </div>
        </div>
      </div>
        <!-- <div class="pt-2 font-mono">
        <p>
          {description}
        </p>
      </div> -->
      </div>
    </a>
  </div>
</div>

<style define:vars={{ myColor }}>
  .color {
    background-color: white;
  }

  .text-xxs {
    font-size: 0.6rem;
  }
</style>
