---
import CardLabel from './Card-label.astro';

interface Props {
  size: 'small' | 'medium';
  href: string;
  title: string;
  types: { text: string; special: boolean }[];
  year: string;
  myColor?: string;
  description?: string;
}

const {
  size = 'small',
  href,
  title,
  types,
  year,
  myColor,
} = Astro.props;

const layoutClass = {
  small: 'col-span-6 md:col-span-2',
  medium: 'col-span-6 md:col-span-4',
  featured: 'col-span-6', // full width
}[size ?? 'small'];

const heightClass = {
  small: 'row-span-1',
  medium: 'row-span-2',
  featured: 'row-span-3',
}[size ?? 'small'];
---

<article class={`group flex flex-col space-y-2 ${layoutClass} ${heightClass}`}>
  <CardLabel value={title} types={types} year={year} isLarge={false} />
  <a href={href} class="block overflow-hidden w-full">
    <div class="bg-white">
      <slot />
    </div>
  </a>
</article>
