---
import Card from "./Card.astro";
---

<div class="border-t">
  <div class="container mx-auto bg-black border-x">
    <div
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr"
    >
      <Card
        title="Visualizing Size & Scale"
        description="this is an explanation about project 1"
        year="2023"
        types={["Research // ", "User Experience // ", "Web development"]}
        size="medium"
        hasVideo={true}
        src="/images/homepage/size&scale.webm"
      />
      <Card
        title="Critical Images"
        description="this is an explanation about project 4"
        year="2023"
        types={["Visual"]}
        size="small"
        hasVideo={true}
        src="/images/homepage/physical-manifestation.webm"
      />
      <Card
        title="Imagine Public Transit"
        description="this is an explanation about project 4"
        year="2023"
        types={["Visual"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/public-transit.png"
      />
      <Card
        title="Vespertine"
        description="this is an explanation about project 4"
        year="2023"
        types={["Visual // ", "Web development"]}
        size="small"
        hasVideo={true}
        src="/images/homepage/vespertine2.webm"
      />
      <Card
        title="Nothing"
        description="this is an explanation about project 4"
        year="2023"
        types={["User experience // ", "Speculative"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/no-content.png"
      />
      <Card
        title="Fidelity Student Debt"
        description="this is an explanation about project 2"
        year="2023"
        types={["User Experience // ", "User Interface // ", "Research"]}
        size="medium"
        hasVideo={false}
        src="/images/homepage/fidelity.png"
      />
      <Card
        title="Witnessing Glaciers"
        description="this is an explanation about project 2"
        year="2022"
        types={["Web Development // ", "Three JS"]}
        size="medium"
        hasVideo={true}
        src="/images/homepage/glaciers.webm"
      />
      <Card
        title="Scale Worlds"
        description="this is an explanation about project 2"
        year="2021 — 2023"
        types={["User Experience // ", "Virtual Reality // ", "Research"]}
        size="medium"
        hasVideo={true}
        src="/images/homepage/scale-worlds.webm"
      />
      <Card
        title="Deliberate AI"
        description="this is an explanation about project 4"
        year="2022"
        types={["User Experience"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/deliberate.png"
      />
      <Card
        title="Around"
        description="this is an explanation about project 6"
        year="2022"
        types={["Album Art"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/around.gif"
      />
      <Card
        title="TerraFirma Software"
        description="this is an explanation about project 6"
        year="2022"
        types={["Branding"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/terrafirma.png"
      />
      <Card
        title="Speculative design workshop"
        description="this is an explanation about project 6"
        year="2022"
        types={["Teaching"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/speculative-design-workshop.png"
      />
      <Card
        title="AR Literature review"
        description="this is an explanation about project 6"
        year="2022"
        types={["Augmented Reality // ", "Research"]}
        size="medium"
        hasVideo={true}
        src="/images/homepage/ar-lit-review.webm"
      />
      <Card
        title="Parts Unlimited"
        description="this is an explanation about project 6"
        year="2022"
        types={["Frontend Development"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/parts-unlimited.png"
      />
      <Card
        title="Laboratory for Analytic Sciences"
        description="this is an explanation about project 6"
        year="2022"
        types={["User Experience"]}
        size="small"
        hasVideo={false}
        src="/images/homepage/las.png"
      />
    </div>
  </div>
</div>

<style>
  .gap-1 {
    gap: 1px;
  }
</style>
