---
import SmallHeading from "./SmallHeading.astro";
interface Props {
  title: string;
  objective: string;
  types: string[];
  collborators: string[];
  year: string;
  outboundLink?: string;
  music?: boolean;
  myColor?: string;
}
const {
  title,
  objective,
  types,
  collaborators,
  year,
  outboundLink = "",
  music = false,
  myColor = "white",
} = Astro.props;
---

<div class="border-b dark:border-dark-border project-header load-in">
  <div>
    <div class="p-4 sm:p-8 border-b dark:border-dark-border color">
      <a
        href="/"
        class="font-mono border dark:border-dark-border rounded-full px-4 py-1 hover:bg-verylightgray dark:hover:bg-dark-surface-hover"
        >← Back to projects</a
      >
      <div class="pt-4">
        <h1
          class="font-serif font-extralight text-6xl sm:text-8xl break-words sm:break-normal hyphens-auto sm:hyphens-manual"
        >
          {title}
      </h1>
      </div>
    </div>
    <div
      class="flex flex-col gap-12 sm:gap-0 py-12 sm:py-0 lg:grid grid-cols-2 lg:divide-x dark:divide-dark-border"
    >
      <div class="col-span-1 p-4 py-0 sm:p-8">
        <SmallHeading text="Overview" />
        {objective}
        <slot />
      </div>
      <div class="flex justify-between gap-12 col-span-1 p-4 py-0 sm:p-8">
        <div class={music === false ? "hidden sm:block" : "hidden"}>
          <SmallHeading text="Type" />
          <div class={types.length > 0 ? "hidden sm:block" : "hidden"}>
            {types.map((type) => <p>{type}</p>)}
          </div>
        </div>
        <div class={music === true ? "hidden sm:block" : "hidden"}>
          <SmallHeading text="Genres" />
          <div class={types.length > 0 ? "hidden sm:block" : "hidden"}>
            {types.map((type) => <p class="">{type}</p>)}
          </div>
        </div>
        <div class="">
          <SmallHeading text="Year" />
          <p class="">
            {year}
          </p>
        </div>
        <div class={collaborators.length > 0 ? "hidden sm:block" : "invisible"}>
          <SmallHeading text="Collaborators" />
          <div>
            {
              collaborators.map((collaborator) => (
                <p class="">{collaborator}</p>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <style define:vars={{ myColor }}>
    .color {
      background-color: white;
    }

    :global(.dark) .color {
      background-color: #1a1d21;
    }

    .gap-1 {
      gap: 1px;
    }

    .grid-template {
      grid-template-columns: 1fr 1fr;
    }

    .w-max-content {
      width: max-content;
      max-width: 50%;
    }
  </style>
</div>
