---
import SmallHeading from "./SmallHeading.astro";
interface Props {
  title: string;
  objective: string;
  tools: string[];
  role: string;
  collborators: string[];
}
const { title, objective, tools, role, collaborators } = Astro.props;
---

<div class="mx-auto border-t border-x">
  <div class="">
    <div class="bg-white group relative border-b p-3 lg:p-12">
      <p
        class="text-center font-serif font-thin h-full leading-tight text-6xl lg:text-8xl lg:leading-tight mb-0"
      >
        {title}
      </p>
    </div>
    <div
      class={objective === ""
        ? "hidden"
        : "p-3 lg:px-48 lg:py-12 mx-auto bg-white relative grid gap-x-12 gap-y-12 grid-cols-1 sm:grid-cols-3 border-b"}
    >
      <div
        class={objective === ""
          ? "hidden text-left col-span-3"
          : "text-left col-span-3"}
      >
        <SmallHeading text="Objective" />
        <p>{objective}</p>
      </div>
      <div class={tools.length > 0 ? "text-left" : "hidden text-left"}>
        <SmallHeading text="Tools" />
        <ul>
          {tools.map((tool) => <li>{tool}</li>)}
        </ul>
      </div>
      <div class={role === "" ? "hidden text-left" : "text-left"}>
        <SmallHeading text="Role" />
        <p>{role}</p>
      </div>
      <div class={collaborators.length > 0 ? "text-left" : "hidden text-left"}>
        <SmallHeading text="Collaborators" />
        <ul>
          {collaborators.map((collaborator) => <li>{collaborator}</li>)}
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .gap-1 {
    gap: 1px;
  }
</style>
