---
import SmallHeading from "./SmallHeading.astro";
interface Props {
  title: string;
  objective: string;
  types: string[];
  collborators: string[];
  year: string;
  outboundLink?: string;
}
const {
  title,
  objective,
  types,
  collaborators,
  year,
  outboundLink = "",
} = Astro.props;
---

<div class="border-b">
  <div class="p-4">
    <a
      href="/"
      class="text-sm font-mono uppercase hover:lowercase hover:text-blue"
      >← back to projects</a
    >
    <p
      class="font-serif leading-tight text-4xl lg:leading-tight mb-0 pt-4 pb-2"
    >
      {title}
    </p>
    <div class="grid sm:grid-template grid-cols-1 sm:grid-cols-2 gap-12">
      <div>
        <p>
          {objective}
        </p>
        <div class={outboundLink != "" ? "mt-4 hidden lg:block" : "hidden"}>
          <a
            class="border rounded-full text-lg px-3 py-1 hover:bg-offwhite"
            href={outboundLink}>Visit the site →</a
          >
        </div>
      </div>
      <div class="grid divide-y">
        <div class="grid grid-cols-2 pb-3">
          <p class="font-bold">Year</p>
          <p>
            {year}
          </p>
        </div>
        <div class="grid grid-cols-2 py-3">
          <p class="font-bold">Type</p>
          <div>
            {types.map((type) => <p>{type}</p>)}
          </div>
        </div>
        <div
          class={collaborators.length > 0 ? "grid grid-cols-2 py-3" : "hidden"}
        >
          <p class="font-bold">Collaborators</p>
          <div>
            {collaborators.map((collaborator) => <p>{collaborator}</p>)}
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .gap-1 {
      gap: 1px;
    }

    .grid-template {
      grid-template-columns: 1fr 1fr;
    }
  </style>
</div>
