---
import SmallHeading from "./SmallHeading.astro";
interface Props {
  title: string;
  objective: string;
  tools: string[];
  role: string;
  collborators: string[];
}
const { title, objective, tools, role, collaborators } = Astro.props;
---

<div class="container mx-auto bg-black border-x">
  <div class="grid gap-1 grid-cols-1 sm:grid-cols-2">
    <div class="bg-white px-12 py-3 group relative">
      <p
        class="font-serif font-thin text-6xl py-16 my-16 px-3 leading-tight h-full"
      >
        {title}
      </p>
    </div>
    <div
      class="bg-white px-12 py-6 relative grid gap-x-12 gap-y-12 grid-cols-1 sm:grid-cols-2"
    >
      <div>
        <SmallHeading text="Objective" />
        <p>{objective}</p>
      </div>
      <div>
        <SmallHeading text="Tools" />
        <ul>
          {tools.map((tool) => <li>{tool}</li>)}
        </ul>
      </div>
      <div>
        <SmallHeading text="Role" />
        <p>{role}</p>
      </div>
      <div>
        <SmallHeading text="Collaborators" />
        <ul>
          {tools.map((tool) => <li>{tool}</li>)}
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .gap-1 {
    gap: 1px;
  }
</style>
