---
import SmallHeading from "./SmallHeading.astro";
interface Props {
  title: string;
  objective: string;
  types: string[];
  collborators: string[];
  year: string;
}
const { title, objective, types, collaborators, year } = Astro.props;
---

<div class="border-b">
  <div class="">
    <div
      class="p-3 sm:p-8 grid sm:grid-template grid-cols-1 sm:grid-cols-2 gap-12"
    >
      <div>
        <p class="font-sans leading-tight text-4xl lg:leading-tight mb-0">
          {title}
        </p>
        <p>
          {objective}
        </p>
      </div>
      <div class="grid divide-y">
        <div class="grid grid-cols-2 py-3">
          <p class="font-bold">Year</p>
          <p>
            {year}
          </p>
        </div>
        <div class="grid grid-cols-2 py-3">
          <p class="font-bold">Type</p>
          <div>
            {types.map((type) => <p>{type}</p>)}
          </div>
        </div>
        <div
          class={collaborators.length > 0 ? "grid grid-cols-2 py-3" : "hidden"}
        >
          <p class="font-bold">Collaborators</p>
          <div>
            {collaborators.map((collaborator) => <p>{collaborator}</p>)}
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .gap-1 {
      gap: 1px;
    }

    .grid-template {
      grid-template-columns: 1fr 1fr;
    }
  </style>
</div>
