---
import SmallHeading from "./SmallHeading.astro";
interface Props {
  title: string;
  objective: string;
  types: string[];
  collborators: string[];
  year: string;
  outboundLink?: string;
}
const {
  title,
  objective,
  types,
  collaborators,
  year,
  outboundLink = "",
} = Astro.props;
---

<div class="border-b">
  <div>
    <div class="text-center p-4 sm:py-8 sm:px-8 border-b">
      <!-- <a
        href="/"
        class="text-xs font-mono uppercase hover:lowercase hover:text-blue"
        >← back to projects</a
      > -->
      <div class="">
        <p
          class="font-serif font-bold uppercase leading-tight text-4xl sm:text-9xl"
        >
          {title}
        </p>
      </div>
    </div>
    <div
      class="p-4 sm:px-8 sm:py-0 flex flex-col-reverse gap-12 lg:grid grid-cols-2"
    >
      <div class="flex gap-12 col-span-1 lg:border-r pt-8 lg:py-12">
        <div>
          <p class="uppercase font-mono text-xs">Type</p>
          <div class="">
            {types.map((type) => <p class="text-xl">{type}</p>)}
          </div>
        </div>
        <div class="">
          <p class="uppercase font-mono text-xs">Year</p>
          <p class="text-xl">
            {year}
          </p>
        </div>
        <div class={collaborators.length > 0 ? "block" : "hidden"}>
          <p class="uppercase font-mono text-xs">Collaborators</p>
          <div>
            {
              collaborators.map((collaborator) => (
                <p class="text-xl">{collaborator}</p>
              ))
            }
          </div>
        </div>
      </div>
      <div class="col-span-1 text-2xl pt-8 lg:py-12">
        {objective}
      </div>
    </div>
  </div>

  <style>
    .gap-1 {
      gap: 1px;
    }

    .grid-template {
      grid-template-columns: 1fr 1fr;
    }

    .w-max-content {
      width: max-content;
      max-width: 50%;
    }
  </style>
</div>
