---
import Layout from "../../layouts/Layout.astro";

import ProjectHeaderSmall from "../../components/ProjectHeaderSmall.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import physicalManifestation from "../../images/critical-images/physical-manifestation.png";
import programmingIsForgetting from "../../images/critical-images/programming-is-forgetting.png";
import technologies from "../../images/critical-images/technologies.png";
import designThinking from "../../images/critical-images/when-design-thinking.png";
import newNewTypography from "../../images/critical-images/new-new-typography.png";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeaderSmall
      title="Critical Images"
      description="Graphic reflections on readings from grad school. Mostly from a Publishing class taught by Jarrett Fuller + others from a typography discourse class taught by Denise Gonzales-Crisp."
    />
    <div class="border-x">
      <div class="mx-auto border-y p-3">
        <Image
          src={physicalManifestation}
          alt="The designer likewise becomes the physical manifestation of the content"
        />
        <!-- <div class="mx-auto border-t p-3">
        <Image src={programmingIsForgetting} alt="Programming is forgetting">
      </div> -->
        <div class="mx-auto border-t p-3">
          <Image
            src={designThinking}
            alt="When design thinking is used against us"
          />
          <div class="mx-auto border-t p-3">
            <Image
              src={technologies}
              alt="technologies not as reflections of our world but shapers of it"
            />
            <div class="mx-auto border-t p-3 flex justify-center">
              <Image src={newNewTypography} alt="The new new typography" />
            </div>
            <style></style>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
