---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import preview from "../../images/fidelity/FDS.png";
import miro from "../../images/fidelity/miro.webm";
import uxr from "../../images/fidelity/uxr.png";

import sketching from "../../images/fidelity/sketching.png";
import discussions from "../../images/fidelity/discussions.png";

import dashboard from "../../images/fidelity/dashboard.png";
import editflow from "../../images/fidelity/edit-flow.png";
import addflow from "../../images/fidelity/add-flow.png";

import enrollment from "../../images/fidelity/enrollment.png";
import postenrollment from "../../images/fidelity/post-enrollment.png";

import painpoint from "../../images/fidelity/painpoint.png";
import painpoint2 from "../../images/fidelity/painpoint2.png";

import Link from "../../components/Link.astro";
import Caption from "../../components/Caption.astro";

import FrameCaption from "../../components/FrameCaption.astro";
import Image from "astro/components/Image.astro";

import mainpage from "../../images/fidelity/main-page.png"
import mgmt from "../../images/fidelity/loan-mgmt.png"
import address from "../../images/fidelity/telling-the-user.png"
import changeloan from "../../images/fidelity/change-loan.png"
import mainbeforeafter from "../../images/fidelity/main-beforeafter.png"
import mgmtbeforeafter from "../../images/fidelity/mgmt-beforeafter.png"
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Fidelity Student Debt"
      objective="I spend my time at Fidelity working on complex B2B and B2C problems related to student debt. I was brought onto the Student Debt Direct product to work on modernization efforts. Tasked with the ambiguous goal of improving the overall user experience for the post-enrollment side, I worked with the team to implement a new design system, fix accessibility issues, and simplify the loan management experience."
      types={[
        "Product Design",
        "User Experience",
        "User Interface",
        "Visual Design",
      ]}
      collaborators={[]}
      year="2024 – 2025"
    />
    <div class="load-in border-b">
      <div class="mx-auto flex justify-center">
        <Image
          class=""
          src={preview}
          alt="Screenshot of user experience work in figma"
        />
      </div>
      <style></style>
    </div>
    <ProjectGrid>
      <div class="col-span-2">
        <div class="flex justify-between gap-4 py-8">
          <div class="lg:pl-4">
            <Image src={mainbeforeafter} alt="screenshot of presentation showing before and after of the main dashboard" />
          </div>
        </div>
          <div class="col-span-2"></div>
          <div class="lg:pr-4">
              <Image
                src={mgmtbeforeafter}
                alt="screenshot of presentation showing before and after of the loan management page"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <SmallHeading text="Learning the product" />
        <p>
          44 million Americans have student debt. Student Debt Direct is a workplace benefit that employers can offer to their employees through Fidelity. It is primarily a retention and hiring incentive where the
          employer agrees to pay some amount of their employee's student debt
          every month.
        </p>
        <p>
          The product requires complicated loan
          verification and management with cumbersome loan service provider
          systems. Any hope of automating the verification process has been squashed under the current presidential administration.
        </p>
        <p>
          One of the first things I did after being brought onto this project
          was to learn the existing product front-to-back. I worked with the
          systems analyst to create a miro that maps the entire lifecycle of the
          product.
        </p>
      </div>
      <div class="col-span-1">
        <div class="relative">
          <video playsinline autoplay muted loop>
            <source src={miro} type="video/webm" />
          </video>
          <Caption text="UX lifecycles miro board" />
        </div>
      </div>
      <!-- -->
      <div class="col-span-1">
        <SmallHeading text="Partnering with a UX researcher" />
        <p>
          Next, I partnered with our user experience researcher to run a
          heuristic study. I even coded the frontend for a
          reference user interface we would use in this study.
        </p>
        <p>
          We hosted two two-hour meetings where we took turns interacting with
          the reference user interface while going through specific scenarios a
          user would go through in the lifecycle. Then we wrote sticky notes on
          Miro, talking about things we liked and didn't like, things that
          seemed to give us problems. We also spoke to a few users from within
          Fidelity who use this product, asking questions and gaining insights
          from them.
        </p>
      </div>
      <div class="col-span-1">
        <div class="relative">
          <Image
            src={uxr}
            alt="screenshot of miro board and coding window, visual studio code"
          />
          <Caption text="Miro board and screenshot from visual studio code" />
        </div>
      </div>
      <div class="col-span-2 pt-8 bg-offwhite dark:bg-dark-surface">
        <SmallHeading text="Identifying pain points" />
        <div class="flex justify-between items-end py-8">
          <div class="lg:pr-4 w-1/2">
            <Image src={painpoint} alt="painpoint about loan management" />
            <Caption text="Users aren’t clear on loan management" />
          </div>
          <div class="lg:pl-4 w-1/2">
            <Image src={painpoint2} alt="painpoint about communications" />
            <Caption text="Communications are problematic" />
          </div>
        </div>
      </div>
      <div class="col-span-2 pt-8">
        <SmallHeading text="Lots of sketching and facilitating discussions" />
        <p class="lg:w-1/2">
          After identifying pain points, I continued discussing with product
          owners, analysts, developers, and more. Maintaining formal meetings
          twice a week, I facilitated discussions meant to excavate ideas from
          all stakeholders involved in this project. By showing off problems
          with the current product and showing very rough, low-fidelity designs
          for ideas, everyone involved was able to have a sense of ownership and
          come forward with ideas.
        </p>
        <div class="flex justify-between items-start py-8">
          <div class="lg:pl-4">
            <Image src={discussions} alt="painpoint about communications" />
            <Caption
              text="Discussions on Zoom, using Miro to collaborate on ideas"
            />
          </div>
          <div class="lg:pr-4">
            <Image src={sketching} alt="painpoint about loan management" />
            <Caption text="Sketching, primarily with flow diagrams" />
          </div>
        </div>
      </div>
      <div class="col-span-2 pt-8">
        <SmallHeading
          text="Solution: seperating loan management into two flows"
        />
        <p class="lg:w-1/2">
          One of the most significant solutions we encountered and built was to
          separate the complicated loan management procedure into two separate
          flows. We can determine if the user needs to edit a loan and give them
          one experience. If the problem is more complicated and they need to
          add a new loan, we can give them a different experience. Additionally,
          allowing users to add additional loans and see a historical record of
          their accounts develops trust and ease of swapping in the loan they
          most want to be paid off first.
        </p>

        <div class="flex justify-between gap-4 py-8">
          <div class="lg:pl-4">
            <Image src={dashboard} alt="screenshot of new dashboard" />
            <Caption
              text="New additions to the dashboard include seperate actions for editing and adding loans"
            />
          </div>
          <div class="lg:pr-4">
            <Image src={editflow} alt="screenshot of new edit flow" />
          </div>
        </div>
        <div class="flex justify-center">
          <div>
            <Image src={addflow} alt="screenshot of add flow" />
          </div>
        </div>
      </div>
      <div class="col-span-2 pt-8">
        <SmallHeading text="Moving to a new design system" />
        <p class="lg:w-1/2">
          Fidelity is currently overhauling their design system and working to unify all their products. Component reuse and accessibility are priorities for the business. I am helping to establish consistent patterns, like the way you edit an account, throughout the enterprise experience.
        </p>

        <div class="flex justify-between gap-4 py-8">
          <div class="lg:pl-4">
            <Image src={mainpage} alt="screenshot of new post-enrollment dashboard" />
            <Caption text="Updated look for the post-enrollment dashboard" />
          </div>
          <div class="lg:pr-4">
            <Image
              src={mgmt}
              alt="screenshot of post-enrollment dashboard, editing loans"
            />
            <Caption text="Updated look and pattern for loan management" />
          </div>
        </div>
      </div>
      <div class="col-span-2 pt-8">
        <SmallHeading text="Telling the user what's wrong" />
        <p class="lg:w-1/2">
          In the final iterations of the desin, we have introduced inline alerts that tell the user when there are problems with their loan. The alerts help users understand what about their current loan is problematic and how they can go about fixing their issue and getting back to recieving payments.
        </p>

        <div class="flex justify-between gap-4 py-8">
          <div class="lg:pl-4">
            <Image src={address} alt="screenshot of loan management with alert warning them that their payment address isn't recieving payments" />
          </div>
          <div class="lg:pr-4">
            <Image
              src={changeloan}
              alt="screenshot of post-enrollment dashboard, editing loans"
            />
          </div>
        </div>
      </div>
    </ProjectGrid>
  </main>
</Layout>
