---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import Caption from "../../components/Caption.astro";

import pt1 from "../../images/imagine-public-transport/1.png";
import pt2 from "../../images/imagine-public-transport/2.png";
import pt3 from "../../images/imagine-public-transport/3.png";
import pt4 from "../../images/imagine-public-transport/4.png";
import pt5 from "../../images/imagine-public-transport/5.png";
import pt6 from "../../images/imagine-public-transport/6.png";
import process from "../../images/imagine-public-transport/process.png";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Imagine Public Transportation"
      objective="Billboard designs that explore the costs of car-centric cities, and the benefits of public transportation. The designs aim to get people thinking about how we can build more livable cities for everyone."
      types={["Graphic Design", "Speculative"]}
      collaborators={[]}
      year="2023"
      heroImage={pt3}
      heroAlt="Billboard design for Imagine Public Transportation"
    />
    <ProjectGrid>
      <div class="col-span-1">
        <SmallHeading text="Problem" />
        <p>
          A publishing class I took in grad school forced me to reconsider what
          makes something a publication. During one project, I explored how a
          public medium might "reach across the aisle" and create discussion
          around urban planning in the United States. I designed a series of
          billboards with a slightly sarcastic tone.
        </p>
      </div>
      <div class="col-span-1">
        <Image src={pt1} alt="Logo for Imagine Public Transit" />
        <Caption text="Logo" />
      </div>
      <div class="col-span-1">
        <Image src={pt2} alt="Logo for Imagine Public Transit" />
      </div>
      <div class="col-span-1">
        <Image src={pt3} alt="Logo for Imagine Public Transit" />
      </div>
      <div class="col-span-1">
        <Image src={pt4} alt="Logo for Imagine Public Transit" />
      </div>
      <div class="col-span-1">
        <Image src={pt5} alt="Logo for Imagine Public Transit" />
      </div>
      <div class="col-span-1">
        <Image src={pt6} alt="Logo for Imagine Public Transit" />
      </div>
      <div class="col-span-2">
        <div class="header-card">
          <div class="p-4 sm:p-6">
            <Image src={process} alt="Screenshot of figma showing process work" class="rounded-md" />
          </div>
          <div class="p-4 sm:p-6 border-t border-[--border-color]">
            <SmallHeading text="Process work" />
            <p class="!pb-0">Early explorations and iterations in Figma showing the development of the billboard designs.</p>
          </div>
        </div>
      </div>
    </ProjectGrid>
  </main>
</Layout>
