---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import Link from "../../components/Link.astro";
import { Image } from "astro:assets";

import mp4 from "../../images/possible-internet/possible-internet.mp4";
import sketch1 from "../../images/possible-internet/sketches.jpg";
import sketch2 from "../../images/possible-internet/sketches-2.jpg";
import research from "../../images/possible-internet/research.jpg";
import Caption from "../../components/Caption.astro";

import antlers from "../../images/possible-internet/Antlers.png";
import reference from "../../images/possible-internet/Expanded Reference.png";
import reference2 from "../../images/possible-internet/Expanded Reference 2.png";
import secondaryantlers from "../../images/possible-internet/Secondary Antlers.png";
import secondarysection from "../../images/possible-internet/Secondary Section.png";
import secondarysection2 from "../../images/possible-internet/Secondary Section 2.png";
import webofreferences from "../../images/possible-internet/Web of References.png";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Possible Internet"
      objective="Extended reality allows the reader to work all around the room, organizing the texts in logical spaces and creating a more active research/reading experience. The reader transitions from sitting on the couch, to standing, to sitting at their computer. Extended reality makes it so that the reader can fluidly move between these distinct working stations while keeping everything logically connected by wires."
      types={["Speculative", "Augmeted Reality", "Research", "Case Study"]}
      collaborators={["Jeff Wilkinson"]}
      year="2022"
      myColor="#FCEDDD"
    />
    <div class="">
      <div class="mx-auto flex justify-center border-b">
        <video class="" playsinline controls muted loop>
          <source src={mp4} type="video/mp4" />
        </video>
      </div>
    </div>
    <div class="">
      <ProjectGrid>
        <div class="col-span-1">
          <Image class="rounded-sm" src={antlers} alt="Antlers" />
        </div>
        <div class="col-span-1">
          <Image
            class="rounded-sm"
            src={webofreferences}
            alt="web of references"
          />
        </div>
        <div class="col-span-2">
          <Image class="rounded-sm" src={reference} alt="expanded reference" />
        </div>
        <div class="col-span-1">
          <Image class="rounded-sm" src={reference2} alt="expanded reference" />
        </div>
        <div class="col-span-1">
          <Image
            class="rounded-sm"
            src={secondaryantlers}
            alt="secondary antlers"
          />
        </div>
        <div class="col-span-1">
          <Image
            class="rounded-sm"
            src={secondarysection}
            alt="secondary section"
          />
        </div>
        <div class="col-span-1">
          <Image
            class="rounded-sm"
            src={secondarysection2}
            alt="secondary section"
          />
        </div>
        <div class="col-span-1">
          <SmallHeading text="Research" />
          <p>
            We began with the concept of a text ribbon. We imagined what it
            would be like if text could be read in a 3D space using
            <Link
              name="Rapid Serial Visual Presentation speed reading technology."
              href="https://en.wikipedia.org/wiki/Rapid_serial_visual_presentation"
            />
          </p>
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <Image
            class="rounded-sm"
            src={sketch1}
            alt="Image of miro board with sketches"
          />
        </div>
        <div class="col-span-1">
          <p>
            Basic sketches were made, including some gifs made in Processing. We
            started to imagine how a research paper might look inside of this
            framework.
          </p>
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <Image
            class="rounded-sm"
            src={sketch2}
            alt="Image of miro board with sketches"
          />
        </div>
        <div class="col-span-1">
          <p>
            I used p5.js to imagine some of the 3D spaces in a really quick way
            before moving onto a more fleshed out video.
          </p>
        </div>
        <div class="col-span-1">
          <iframe
            width="100%"
            height="700px"
            class="overflow-hidden rounded-sm"
            src="https://editor.p5js.org/bsekels/full/20gwFcDb6"></iframe>
        </div>
        <div class="col-span-2 bg-offwhite py-8 flex justify-center">
          <div>
            <iframe
              src="https://player.vimeo.com/video/769969951?h=0d93dceb26"
              width="720"
              height="400"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen></iframe>
            <Caption text="Made in Blender" />
          </div>
        </div>
        <div class="col-span-1">
          Collaborative research and critiques were done in a big miro board.
        </div>
        <div class="col-span-1">
          <Image
            class="rounded-sm"
            src={research}
            alt="Image of miro board with sketches"
          />
        </div>
        <div class="col-span-2">
          <p>
            Finally, we created a 3D model of our studio space in Blender. The
            prototype depicts a possible solution for managing complex academic
            literature review sessions with affordances offered by extended
            reality.
          </p>
          <p>
            In the video (at the top of the page), a person (represented by a
            purple hand) is reading through Ashley Anderson’s Master’s Thesis
            "Working with Imagery: Mediating Image Rescripting for Anxiety with
            Multimodal Digital Storytelling." The reader is presented with the
            first set of antlers which show all of the sections contained in
            Ashley’s paper. The reader can shift which section appears at the
            bottom of the antlers (not shown in the video).
          </p>
        </div>
      </ProjectGrid>
    </div>
  </main>
</Layout>
