---
import Layout from "../../layouts/Layout.astro";
import webm from "../../images/size-and-scale/size&scale.webm";
import { Image } from "astro:assets";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import Link from "../../components/Link.astro";
import Microcopy from "../../components/Microcopy.astro";
import Caption from "../../components/Caption.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";

import crossCuttingConcept1 from "../../images/size-and-scale/crosscutting-concept-1.png";
import crossCuttingConcept2 from "../../images/size-and-scale/crosscutting-concept-2.png";
import cave from "../../images/size-and-scale/cave.png";
import magana from "../../images/size-and-scale/magana.png";
import mayer from "../../images/size-and-scale/mayer.png";
import universcale from "../../images/size-and-scale/universcale.png";
import powersoften from "../../images/size-and-scale/powersoften.jpeg";
import book1 from "../../images/size-and-scale/book-1.png";
import book2 from "../../images/size-and-scale/book-2.png";
import prototype from "../../images/size-and-scale/prototype.png";
import functionMappingIntro from "../../images/size-and-scale/function-mapping-intro.png";
import functionMapping1 from "../../images/size-and-scale/function-mapping-1.png";
import functionMapping2 from "../../images/size-and-scale/function-mapping-2.png";
import functionMapping3 from "../../images/size-and-scale/function-mapping-3.png";
import highlighting from "../../images/size-and-scale/highlighting.gif";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Visualizing Size & Scale"
      objective={"Design a website to augment and scaffold towards size and scale cognition."}
      types={["Website", "Research"]}
      collaborators={["Dr. Matthew Peterson"]}
      year="2023"
      outboundLink="https://textimage.org/scale/"
    />
    <div class="border-b">
      <video playsinline autoplay muted loop>
        <source src={webm} type="video/webm" />
      </video>
    </div>
    <div class="">
      <ProjectGrid>
        <div class="col-span-1">
          <p>
            <b>Problem</b>
            <br />
            Scale has been identified as a crosscutting concept by the National Academies
            of Science, Engineering, and Medicine. We had previously created <Link
              href="/scale-worlds"
              name="Scale Worlds,"
            />
            a Virtual Reality-based learning environment which seeks to address this
            very problem. Scale Worlds-Web came about as a way to bring the Scale
            Worlds experience to people who don't have access to expensive VR equipment.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            width="800px"
            src={cave}
            alt="Image of Brian Sekelsky stading in Cave augmented virtual environment"
          />
          <Caption text="Me in the CAVE" />
        </div>
        <div class="col-span-2 flex bg-offwhite py-8">
          <div>
            <Image src={universcale} alt="Screenshot of Universcale" />
            <Caption
              text="Screenshots of Universcale, research, & Eames' Powers of Ten video "
            />
          </div>
          <div>
            <Image
              src={powersoften}
              alt="Screenshots from Eames' Powers of Ten video"
            />
            <!-- <Caption text="Screenshots from Eames' Powers of Ten video" /> -->
          </div>
          <div>
            <Image
              src={book1}
              alt="Image from science textbook showing various scales"
            />
            <Caption text="Diagrams from unknown science textbooks" />
          </div>
          <div>
            <Image
              src={book2}
              alt="Image from science textbook showing various scales"
            />
          </div>
        </div>
        <!--////////////////////////////-->
        <!--////////////////////////////-->
        <!--////////////////////////////-->
        <div class="col-span-1 pb-4">
          <p>
            Read more about the creation of Scale Worlds web in <Link
              href="https://dl.designresearchsociety.org/iasdr/iasdr2023/fullpapers/184/"
              name="Preserving theoretically-grounded functions across media platforms in interaction design"
            />
          </p>
        </div>
        <div class="col-span-1 pb-4">
          <Image
            src={prototype}
            alt="Screenshot of original prototype shows a 3d model of a robin, doctor, and whale to scale "
          />
          <Caption text="Tech demo" />
        </div>
        <!--////////////////////////////-->
      </ProjectGrid>
    </div>
  </main>
</Layout>
