---
import Layout from "../../layouts/Layout.astro";
import webm from "../../images/size-and-scale/size&scale.webm";
import { Image } from "astro:assets";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import Link from "../../components/Link.astro";
import Caption from "../../components/Caption.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";

import cave from "../../images/size-and-scale/cave.png";
import universcale from "../../images/size-and-scale/universcale.png";
import powersoften from "../../images/size-and-scale/powersoften.jpeg";
import book1 from "../../images/size-and-scale/book-1.png";
import book2 from "../../images/size-and-scale/book-2.png";
import prototype from "../../images/size-and-scale/prototype.png";

import crossCuttingConcept1 from "../../images/size-and-scale/crosscutting-concept-1.png";
import astro from "../../images/scale-worlds/astro.png";
import one from "../../images/scale-worlds/1.png";
import a from "../../images/scale-worlds/Scaling-A.jpeg";
import b from "../../images/scale-worlds/Scaling-B.jpeg";
import c from "../../images/scale-worlds/Scaling-C.jpeg";
import d from "../../images/scale-worlds/Scaling-D.jpeg";
import e from "../../images/scale-worlds/Scaling-E.jpeg";
import f from "../../images/scale-worlds/Scaling-F.jpeg";

import cave from "../../images/scale-worlds/cave.png";
import hmd from "../../images/scale-worlds/hmd.png";

import userinterface from "../../images/scale-worlds/user-interface.png";
import armatures from "../../images/scale-worlds/armatures.png";
import entities from "../../images/scale-worlds/entities.png";

import webm2 from "../../images/scale-worlds/scale-movement.webm";

import website1 from "../../images/size-and-scale/website-1.png";
import website3 from "../../images/size-and-scale/website-3.png";
import website4 from "../../images/size-and-scale/website-4.png";

import swcave from "../../images/scale-worlds/swcave.gif";

import fmtable from "../../images/size-and-scale/fm-table.png";
import FrameCaption from "../../components/FrameCaption.astro";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Visualizing Size & Scale"
      objective="The team behind Scale Worlds needed to create a web-based version of the existing Scale Worlds VR experience, making it accessible to elementary and high school students without needing expensive VR equipment. The goal was to leverage the theoretical framework for scale cognition while adapting the experience to the affordances and limitations of web-based interfaces."
      types={[
        "User Experience",
        "Website",
        "Research",
        "Education",
        "Function Mapping",
      ]}
      collaborators={[
        "Dr. Matthew Peterson",
        "Dr. Karen Chen",
        "Dr. Cesar Delgado",
        "Linfeng Wu",
        "Tyler Harper-Gampp",
        "Amanda Williams",
        "Rebecca Planchert",
        "Meghan Jack",
        "Elizabeth Chen",
      ]}
      year="2023"
      outboundLink="https://textimage.org/scale/"
      myColor="ghostwhite"
    />
    <div class="border-b load-in relative">
      <video playsinline autoplay muted loop>
        <source src={webm} type="video/webm" />
      </video>
      <!-- <FrameCaption text="Scale Worlds Web" /> -->
    </div>
    <div class="">
      <ProjectGrid>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <SmallHeading text="Background" />
          <p>
            The existing

            <Link
              href="/projects/scale-worlds"
              name="Scale Worlds experiences"
            />
            are virtual learning environments that enhance participants’ conception
            of size and scale. They were funded through a National Science Foundation
            award titled
            <Link
              name="Virtual Reality to Improve Students’ Understanding of Scale in STEM."
              href="https://nsf.gov/awardsearch/showAward?AWD_ID=2055680"
            />
          </p>

          <p>
            For two years, I worked under the guidance of

            <Link href="https://textimage.org/" name="Dr. Matthew Peterson" />
            and in close collaboration with professors and doctoral students from
            the Human Factors Engineering and STEM Education departments to design
            and develop two scale cognition learning environments.
          </p>
        </div>
        <div class="col-span-1">
          <div class="relative">
            <Image class="" src={swcave} alt="astronaut in scale worlds" />
            <FrameCaption text="Scale Worlds CAVE" />
          </div>
        </div>
        <!--////////////////////////////-->
        <!-- <div class="col-span-2">
          <p>
            When I joined the project, the team of professors had secured
            funding through NSF partially due to a prototype created by Grace
            Wonaphotimuke.
            <br />
          </p>
          <div class="grid grid-cols-3 gap-2">
            <Image class="col-span-1" src={a} alt="a" />
            <Image class="col-span-1" src={b} alt="b" />
            <Image class="col-span-1" src={c} alt="c" />
            <Image class="col-span-1" src={d} alt="d" />
            <Image class="col-span-1" src={e} alt="e" />
            <Image class="col-span-1" src={f} alt="f" />
          </div>
        </div> -->
      </ProjectGrid>
      <div class="border-y relative">
        <video playsinline autoplay muted loop>
          <source src={webm2} type="video/webm" />
        </video>
        <FrameCaption text="Scale Worlds HMD" />
      </div>
      <ProjectGrid>
        <div class="col-span-1">
          <SmallHeading text="Process" />
          <p>
            To ensure a successful transition from VR to the web, our team
            developed a novel design methodology we call function mapping. We
            authored a paper about this process, <Link
              href="https://dl.designresearchsociety.org/iasdr/iasdr2023/fullpapers/184/"
              name="Preserving theoretically-grounded functions across media platforms in interaction design,"
            /> which I presented at IASDR 2023 in Milan.
          </p>
          <p>
            Through function mapping we identified the key concepts and
            understandings that learners need to grasp to comprehend scale
            effectively. These core concepts come from Magana's Framework for
            Scale Cognition and other academic literature about scale cognition.
            We created a chart that mapped specific features within the
            application that reinforce each learning concept. This mapping
            served as a guide, ensuring that the core learning objectives were
            addressed in the existing VR versions and the new web-based
            adaptation while accounting for the flat-screen interface we were
            developing.
          </p>
        </div>
        <div class="col-span-1 flex justify-center">
          <div class="lg:w-3/4 shadow-md">
            <Image
              src={fmtable}
              class=""
              alt="Table with all tracked features from scale worlds"
            />
            <!-- <Caption
              text="We tracked all design features across the three versions from specific theoretical assertions based in the scale cognition literature."
            /> -->
          </div>
        </div>
        <!-- <div class="col-span-1">
          <video
            class="transition-all"
            playsinline
            autoplay
            muted
            loop
            preload="none"
          >
            <source src={swvideo} type="video/webm" />
          </video>
        </div> -->
        <!--////////////////////////////-->
        <!--////////////////////////////-->
        <!--////////////////////////////-->
        <div class="col-span-2 pt-8 bg-offwhite">
          <SmallHeading text="Precedents" />
          <div class="flex justify-between items-end py-8">
            <div class="lg:pr-4">
              <Image src={universcale} alt="Screenshot of Universcale" />
              <Caption
                text="Screenshot from Universcale and a user study from Magana (2018)"
              />
            </div>
            <div class="lg:pl-4">
              <Image
                src={powersoften}
                alt="Screenshots from Eames' Powers of Ten video"
              />
              <Caption text="Screenshot from Eames' Powers of Ten video" />
            </div>
          </div>
          <div class="flex justify-between items-end py-8">
            <div class="lg:pr-4">
              <Image
                src={book1}
                alt="Image from science textbook showing various scales"
              />
              <Caption text="Diagram from science textbook 1" />
            </div>
            <div class="lg:pl-4">
              <Image
                src={book2}
                alt="Image from science textbook showing various scales"
              />
              <Caption text="Diagram from science textbook 2" />
            </div>
          </div>
        </div>
        <div class="col-span-1">
          <SmallHeading text="Solution" />
          <p>
            Armed with the function mapping table, I began sketching interface
            ideas on paper and in Figma. Since the key features were already
            identified in the mapping process, it was easier to conceptualize
            and iterate on potential interface solutions. The function mapping
            table provided a clear framework for translating the VR experience
            into a web-based environment while preserving the essential learning
            objectives.
          </p>
          <p>
            After sketching the ideas, I implemented the designs as a working
            prototype utilizing HTML, CSS, javascript, and Three.js to run the
            experience.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={website1}
            alt="Screenshot of the website"
            class=""
            class=""
          />
        </div>
        <div class="col-span-1">
          <Image
            src={website4}
            alt="Screenshot of the website"
            class=""
            class=""
          />
        </div>
        <div class="col-span-1">
          <Image
            src={website3}
            alt="Screenshot of the website"
            class=""
            class=""
          />
        </div>
        <!--////////////////////////////-->
      </ProjectGrid>
    </div>
  </main>
</Layout>

<style>
  img {
    width: 100%;
  }
</style>
