---
import Layout from "../../layouts/Layout.astro";
import webm from "../../images/size-and-scale/size&scale.webm";
import { Image } from "astro:assets";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import Link from "../../components/Link.astro";
import Caption from "../../components/Caption.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";

import cave from "../../images/size-and-scale/cave.png";
import universcale from "../../images/size-and-scale/universcale.png";
import powersoften from "../../images/size-and-scale/powersoften.jpeg";
import book1 from "../../images/size-and-scale/book-1.png";
import book2 from "../../images/size-and-scale/book-2.png";
import prototype from "../../images/size-and-scale/prototype.png";

import crossCuttingConcept1 from "../../images/size-and-scale/crosscutting-concept-1.png";
import astro from "../../images/scale-worlds/astro.png";
import one from "../../images/scale-worlds/1.png";
import a from "../../images/scale-worlds/Scaling-A.jpeg";
import b from "../../images/scale-worlds/Scaling-B.jpeg";
import c from "../../images/scale-worlds/Scaling-C.jpeg";
import d from "../../images/scale-worlds/Scaling-D.jpeg";
import e from "../../images/scale-worlds/Scaling-E.jpeg";
import f from "../../images/scale-worlds/Scaling-F.jpeg";

import cave from "../../images/scale-worlds/cave.png";
import hmd from "../../images/scale-worlds/hmd.png";

import userinterface from "../../images/scale-worlds/user-interface.png";
import armatures from "../../images/scale-worlds/armatures.png";
import entities from "../../images/scale-worlds/entities.png";

import webm2 from "../../images/scale-worlds/scale-movement.webm";

import decimal from "../../images/scale-worlds/decimal-move.gif";
import numericpanel from "../../images/scale-worlds/numeric panel.png";

import forest from "../../images/scale-worlds/forest.png";
import path from "../../images/scale-worlds/path.png";

import research1 from "../../images/scale-worlds/research1.png";
import research2 from "../../images/scale-worlds/research2.png";
import research3 from "../../images/scale-worlds/research3.png";
import research4 from "../../images/scale-worlds/research4.png";

import ruler1 from "../../images/scale-worlds/ruler-1.jpg";
import ruler2 from "../../images/scale-worlds/ruler-2.jpg";

import website1 from "../../images/size-and-scale/website-1.png";
import website2 from "../../images/size-and-scale/website-2.png";
import website3 from "../../images/size-and-scale/website-3.png";
import website4 from "../../images/size-and-scale/website-4.png";
import website5 from "../../images/size-and-scale/website-5.png";

import swcave from "../../images/scale-worlds/swcave.gif";
import swvideo from "../../images/homepage/size&scale4.webm";

import fmtable from "../../images/size-and-scale/fm-table.png";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Scale Worlds"
      objective="A multi-year project for the National Science Foundation. The first phase focused on the creation of two virtual reality-based learning environments where students can experience scales ranging from the size of the universe down to an atom. The second goal was to create a web-based flat-screen version of the VR experience. Finally, we wrote a research paper about the process of mapping the VR experience to the web."
      types={[
        "Virtual Reality",
        "User Experience",
        "Website",
        "Research",
        "Education",
      ]}
      collaborators={[
        "Dr. Matthew Peterson",
        "Dr. Karen Chen",
        "Dr. Cesar Delgado",
        "Linfeng Wu",
        "Tyler Harper-Gampp",
        "Amanda Williams",
        "Rebecca Planchert",
        "Meghan Jack",
        "Elizabeth Chen",
      ]}
      year="2021–2023"
      outboundLink="https://textimage.org/scale/"
    />
    <div class="border-b">
      <video playsinline autoplay muted loop>
        <source src={webm} type="video/webm" />
      </video>
    </div>
    <div class="">
      <ProjectGrid>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <SmallHeading text="Background" />
          <p>
            Scale Worlds is a virtual learning environment which enhances
            participants’ conception about size and scale. It has been funded
            through a National Science Foundation award titled
            <Link
              name="Virtual Reality to Improve Students’ Understanding of Scale in STEM."
              href="https://nsf.gov/awardsearch/showAward?AWD_ID=2055680"
            />

            For two years I worked under the guidance of

            <Link href="https://textimage.org/" name="Dr. Matthew Peterson" />
            and in close collaboration with professors and doctoral students from
            the Human Factors Engineering and STEM Education departments to design
            and develop this scale cognition learning environment. STEM educators
            acted as analysts providing educational requirements from literature,
            as designers we interpreted these requirements into specific design features
            in the three virtual environemtns.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            class="drop-shadow rounded-sm"
            src={swcave}
            alt="astronaut in scale worlds"
          />
        </div>
        <!--////////////////////////////-->
        <!-- <div class="col-span-2">
          <p>
            When I joined the project, the team of professors had secured
            funding through NSF partially due to a prototype created by Grace
            Wonaphotimuke.
            <br />
          </p>
          <div class="grid grid-cols-3 gap-2">
            <Image class="col-span-1" src={a} alt="a" />
            <Image class="col-span-1" src={b} alt="b" />
            <Image class="col-span-1" src={c} alt="c" />
            <Image class="col-span-1" src={d} alt="d" />
            <Image class="col-span-1" src={e} alt="e" />
            <Image class="col-span-1" src={f} alt="f" />
          </div>
        </div> -->
      </ProjectGrid>
      <div class="border-y my-12">
        <video playsinline autoplay muted loop>
          <source src={webm2} type="video/webm" />
        </video>
      </div>
      <ProjectGrid>
        <div class="col-span-1">
          <Image
            class="col-span-1 drop-shadow rounded-sm"
            src={hmd}
            alt="image of HMD with 3d model representing the user"
          />
          <Caption text="Head-mounted Display" />
        </div>
        <div class="col-span-1">
          <Image
            class="col-span-1 drop-shadow rounded-sm"
            src={cave}
            alt="Imge of CAVE"
          />
          <Caption text="Cave Augmented Virtual Environment" />
        </div>
        <!-- <div class="col-span-2">
          <p>
            When designing the new version of the environment, the scheme was
            split up into 3 main sections
            <br />
          </p>
          <div class="grid grid-cols-3 gap-2">
            <div class="col-span-1">
              <Image src={userinterface} alt="Imge of CAVE" />
              <Caption text="user interface: flat interactive elements" />
            </div>
            <div class="col-span-1">
              <Image src={armatures} alt="Imge of CAVE" />
              <Caption
                text="armatures: three-dimensional things which aren't entities"
              />
            </div>
            <div class="col-span-1">
              <Image src={entities} alt="Imge of CAVE" />
              <Caption
                text="entities: three dimensional things like animals, stars, atoms, cells, etc. which are used as landmark things to measure"
              />
            </div>
          </div>
        </div> -->
        <div class="col-span-1">
          <p>
            The way in which the user interacts with the environment was
            designed to mimic changing an exponent in scientific notation and
            moving decimal places in standard notation: concepts seen in
            American science and math curricula.
            <br />
          </p>
        </div>
        <div class="grid gap-2">
          <Image
            src={decimal}
            class="rounded-sm drop-shadow"
            alt="gif of the decimal dance animation"
          />
          <Caption text="Animation of decimal moving" />
          <!-- <Image src={numericpanel} alt="diagram of numeric panel" />
          <Caption
            text="Diagram of the numeric panel that the user interacs with"
          /> -->
        </div>
        <div class="col-span-1">
          <SmallHeading text="Scale Worlds – Web" />
          <p>
            I independently created the web version as a way to bring the Scale
            Worlds experience to people who don't have access to expensive VR
            equipment.
          </p>
          <p>
            The core theory of Scale Worlds – VR was mapped into a set of new
            features which would live more naturally on a flat screen display. I
            authored a paper about this process, <Link
              href="https://dl.designresearchsociety.org/iasdr/iasdr2023/fullpapers/184/"
              name="Preserving theoretically-grounded-sm functions across media platforms in interaction design, "
            />
            which was published in the IASDR 2023 conference proceedings.
          </p>
        </div>
        <div class="col-span-1">
          <video
            class="transition-all"
            playsinline
            autoplay
            muted
            loop
            preload="none"
          >
            <source src={swvideo} type="video/webm" />
          </video>
        </div>
        <!--////////////////////////////-->
        <!--////////////////////////////-->
        <!--////////////////////////////-->
        <div class="col-span-2">
          <Image
            src={website1}
            alt="Screenshot of the website"
            class="drop-shadow rounded-sm"
            class="drop-shadow rounded-sm"
          />
        </div>
        <div class="col-span-2">
          <Image
            src={website4}
            alt="Screenshot of the website"
            class="drop-shadow rounded-sm"
            class="drop-shadow rounded-sm"
          />
        </div>
        <div class="col-span-2">
          <Image
            src={website3}
            alt="Screenshot of the website"
            class="drop-shadow rounded-sm"
            class="drop-shadow rounded-sm"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-2 pt-8 bg-offwhite">
          <b>Research</b>
          <div class="flex py-8">
            <div>
              <Image src={universcale} alt="Screenshot of Universcale" />
              <Caption
                text="Screenshots of Universcale, research, & Eames' Powers of Ten video "
              />
            </div>
            <div>
              <Image
                src={powersoften}
                alt="Screenshots from Eames' Powers of Ten video"
              />
              <!-- <Caption text="Screenshots from Eames' Powers of Ten video" /> -->
            </div>
            <div>
              <Image
                src={book1}
                alt="Image from science textbook showing various scales"
              />
              <Caption text="Diagrams from unknown science textbooks" />
            </div>
            <div>
              <Image
                src={book2}
                alt="Image from science textbook showing various scales"
              />
            </div>
          </div>
        </div>
        <div class="col-span-2 flex justify-center">
          <div class="lg:w-1/2">
            <Image
              src={fmtable}
              class="rounded-sm drop-shadow"
              alt="Table with all tracked features from scale worlds"
            />
            <Caption
              text="We tracked all design features across the three versions from specific theoretical assertions based in the scale cognition literature."
            />
          </div>
        </div>
        <div class="col-span-1">
          <p>
            Although all of the design features were based in theoretical
            assertions we utilized user testing at multiple stages throughout
            the design/development lifecycle. We used user testing in cases
            where we had determined multiple possible solutions. For example, we
            tested a variety of enivornment schema to guauge how it affected
            learners' understanding of objects' scale and the clarity of
            interactive elements.
            <br />
          </p>
        </div>
        <div class="col-span-1">
          <Image src={forest} alt="diagram of forest layout" />
          <Caption text='"the forest" layout' />
        </div>
        <div class="col-span-2">
          <div class="grid grid-cols-2 gap-2">
            <div class="col-span-1">
              <Image
                src={research1}
                alt="image of some research descriptions"
                class="rounded-md drop-shadow"
              />
            </div>
            <div class="col-span-1">
              <Image
                src={research2}
                alt="image of some research descriptions"
                class="rounded-md drop-shadow"
              />
            </div>
            <div class="col-span-1">
              <Image
                src={research3}
                alt="image of some research descriptions"
                class="rounded-md drop-shadow"
              />
            </div>
            <div class="col-span-1">
              <Image
                src={research4}
                alt="image of some research descriptions"
                class="rounded-md drop-shadow"
              />
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <div class="grid grid-cols-2 gap-2">
            <div class="col-span-1">
              <Image
                src={ruler1}
                alt="image of professor in cave"
                class="rounded-md drop-shadow"
              />
            </div>
            <div class="col-span-1">
              <Image
                src={ruler2}
                alt="image of proffessor in cave"
                class="rounded-md drop-shadow"
              />
            </div>
          </div>
        </div>
      </ProjectGrid>
    </div>
  </main>
</Layout>

<style>
  img {
    width: 100%;
  }
</style>
