---
import Layout from "../../layouts/Layout.astro";
import webm from "../../images/size-and-scale/size&scale.webm";
import { Image } from "astro:assets";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import Link from "../../components/Link.astro";
import Microcopy from "../../components/Microcopy.astro";
import Caption from "../../components/Caption.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";

import crossCuttingConcept1 from "../../images/size-and-scale/crosscutting-concept-1.png";
import crossCuttingConcept2 from "../../images/size-and-scale/crosscutting-concept-2.png";
import cave from "../../images/size-and-scale/cave.png";
import magana from "../../images/size-and-scale/magana.png";
import mayer from "../../images/size-and-scale/mayer.png";
import universcale from "../../images/size-and-scale/universcale.png";
import powersoften from "../../images/size-and-scale/powersoften.jpeg";
import book1 from "../../images/size-and-scale/book-1.png";
import book2 from "../../images/size-and-scale/book-2.png";
import prototype from "../../images/size-and-scale/prototype.png";
import functionMappingIntro from "../../images/size-and-scale/function-mapping-intro.png";
import functionMapping1 from "../../images/size-and-scale/function-mapping-1.png";
import functionMapping2 from "../../images/size-and-scale/function-mapping-2.png";
import functionMapping3 from "../../images/size-and-scale/function-mapping-3.png";
import highlighting from "../../images/size-and-scale/highlighting.gif";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Visualizing Size & Scale"
      objective={"Design a website to augment and scaffold towards size and scale cognition."}
      types={["Website", "Research"]}
      collaborators={["Dr. Matthew Peterson – Advisor"]}
      year="2023"
      outboundLink="https://textimage.org/scale/"
    />
    <div class="border-b">
      <video playsinline autoplay muted loop>
        <source src={webm} type="video/webm" />
      </video>
    </div>
    <div class="">
      <ProjectGrid>
        <div class="col-span-1 lg:col-span-2">
          <SmallHeading text="Problem" />
          <p>
            Understanding size and scale has been identified as a critical skill
            for students, especially those in STEM disciplines. Accurately
            visualizing scale is often difficult.
          </p>
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Scale has been identified as a crosscutting concept by the National
            Academies of Science, Engineering, and Medicine.
            <Microcopy
              text="National Research Council. (2012). A framework for K-12 science education: Practices, crosscutting concepts, and core ideas. Washington, D.C. : The National Academies Press, 2012. https://doi.org/doi. org/10.17226/13165"
            />
          </p>
        </div>
        <div class="col-span-1">
          <Image
            class="pb-3"
            src={crossCuttingConcept1}
            alt="Image of text from national research council"
          />
          <Image
            src={crossCuttingConcept2}
            alt="Image of text from national research council"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          The work done for this project is closely connected to the virtual
          reality-based Scale Worlds project which I have been involved with
          since 2021.
        </div>
        <div class="col-span-1">
          <Image
            src={cave}
            alt="Image of Brian Sekelsky stading in Cave augmented virtual environment"
          />
          <Caption text="Me in the CAVE" />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <SmallHeading text="Research" />
          <p>
            I read much of the existing literature on scale cognition, starting
            with Alejandra Magaña. Her <Link
              name='"Framework for Size and Scale Cognition (FS2C)"'
              href="https://www.tandfonline.com/doi/abs/10.1080/09500693.2012.715316?casa_token=wPUY7eFJhQIAAAAA:RMe7L7Fjsb6EK0gi8VlS4uhuFOJhWd5Fs02iTEVASFK7Q_UrTXCIxYs4DgQ0-Mo01eom1MMB9vuW2Q"
            />
             was invaluable to my design process.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={magana}
            alt="Image of table cretaed from Magana's framework describing the 5 scale cognitive processes"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Secondly, I consulted literature on the design of educational
            multimedia. <Link
              name="Richard Mayer – Multimedia Learning"
              href="https://www.sciencedirect.com/science/article/abs/pii/S0079742102800056"
            />
             is the preeminent work in this space.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={mayer}
            alt="Image of table cretaed from Mayer's framework describing the 4 of his principles for the design educational multimedia"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Next I looked at the precedents. <Link
              href="https://www.nikon.com/about/sp/universcale/"
              name="Nikon's Universcale"
            /> is one of the most compelling educational websites for scale
            cognition out there. While it is great, user research from Magaña
            has shown that it has its flaws. It doesn't always align with
            Richard Mayer's principles either.
          </p>
        </div>
        <div class="col-span-1">
          <Image src={universcale} alt="Screenshot of Universcale" />
          <Caption text="Screenshot of Universcale" />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Other precendents include Ray and Charles Eames' famous <Link
              href="https://www.youtube.com/watch?v=0fKBhvDjuy0&t=43s"
              name="Powers of Ten"
            >
              video.
            </Link>
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={powersoften}
            alt="Screenshots from Eames' Powers of Ten video"
          />
          <Caption text="Screenshots from Eames' Powers of Ten video" />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Then I looked at diagrams from classroom science textbooks. Some of
            the diagrams that are used to teach about size, scale, and SI units
            of measurement contain some really great ideas. Some of ideas that I
            ended up pulling were the limited number of entities. In the Cell
            Size example one entitiy is chosen for every power of ten. Another
            idea I like from these is generalizing entities into groups like
            "can be seen with naked eye" and "can't be seen with naked eye".
          </p>
        </div>
        <div class="col-span-1 flex">
          <div>
            <Image
              src={book1}
              alt="Image from science textbook showing various scales"
            />
            <Caption text="Diagrams from unknown science textbooks" />
          </div>
          <div>
            <Image
              src={book2}
              alt="Image from science textbook showing various scales"
            />
          </div>
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            I then created a tech demo for the educational scale cognition
            website. This prototype started to do some useful things, giving the
            user the ability to compare 3d models of entities at powers of ten
            but was limited in many ways.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={prototype}
            alt="Screenshot of original prototype shows a 3d model of a robin, doctor, and whale to scale "
          />
          <Caption text="Tech demo" />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            The Scale World's team has devised a technique for designing
            educational multimedia called "Function Mapping". I've used this
            technique to map out theoretical assertions onto specific design
            decisions. The theoretical assertions come from Magaña’s FS2C. These
            theoretically-derived functions are paired with principles from
            Mayer to construct the features present in Scale Worlds Web.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={functionMappingIntro}
            alt="Screenshot of the main page from the second version of the protoype"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            <b>Generalization + Segmenting</b> are used to create the overview
            panel. Entities are grouped in a logical way by their metric
            prefixes and segments are user-paced rather than continuous.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={functionMapping1}
            alt="Screenshot of the main page from the second version of the protoype with the navigation panel at the bottom circled in purple"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            <b>Discrimination + Coherence</b> are used in the ordering of
            entities scheme. One entity is chosen per power of ten.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={functionMapping2}
            alt="Screenshot of the main page from the second version of the protoype with sections blurred out and icons enlarged"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            <b>Mathematical Reasoning + Spatial Contiguity</b> principles are
            used to create the scheme where important measurements are placed
            next to entities. Measurements are written out in scientific
            notation and standard notation.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={functionMapping3}
            alt="Screenshot of the main page from the second version of the protoype with everything blurred out except the main numeric panel"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            <b>Logical Proportional Reasoning + Signaling</b> are used to create
            a highlighting system which maps out how the user moves from small
            to large and large to small. This was later simplified.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            src={highlighting}
            alt="Gif of the scaling in action with numbers highlighting as the scaling happens"
          />
        </div>
      </ProjectGrid>
    </div>
  </main>
</Layout>
