---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import webm from "../../images/homepage/vespertine.webm";

import sketch1 from "../../images/vespertine/sketch1.png";
import sketch2 from "../../images/vespertine/sketch2.png";
import sketch3 from "../../images/vespertine/sketch3.png";
import sketch4 from "../../images/vespertine/sketch4.png";
import sketch5 from "../../images/vespertine/sketch5.png";
import sketch6 from "../../images/vespertine/sketch6.png";
import sketch7 from "../../images/vespertine/sketch7.png";

import webpage1 from "../../images/vespertine/webpage1.png";
import webpage2 from "../../images/vespertine/webpage2.png";
import webpage3 from "../../images/vespertine/webpage3.png";
import webpage4 from "../../images/vespertine/webpage4.png";
import webpage5 from "../../images/vespertine/webpage5.png";
import webpage6 from "../../images/vespertine/webpage6.png";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Vespertine"
      objective="This project was made for my own edification. I wanted to practice making interactive websites and do something fun. This is supposed to be a website made for Bjork's album Vespertine (one of my favorites). I ultimately landed on using ThreeJS and a 3D model of a house, this is her 'domestic album' after all."
      types={["Website"]}
      collaborators={[]}
      year="2023"
    />
    <div class="relative object-cover w-full border-b">
      <div style="padding:53.35% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/902797233?badge=0&autopause=0&player_id=0&app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
        ></iframe>
      </div>
    </div>
    <ProjectGrid>
      <div class="col-span-2">
        <SmallHeading text="Screenshots" />
        <div class="grid grid-cols-2 gap-8 mb-8">
          <div class="col-span-2">
            <Image src={webpage1} class="shadow-lg" alt="webpage screenshot" />
          </div>
          <div class="col-span-2">
            <Image src={webpage2} class="shadow-lg" alt="webpage screenshot" />
          </div>
          <div class="col-span-2">
            <Image src={webpage3} class="shadow-lg" alt="webpage screenshot" />
          </div>
          <div class="col-span-2">
            <Image src={webpage4} class="shadow-lg" alt="webpage screenshot" />
          </div>
          <div class="col-span-2">
            <Image src={webpage5} class="shadow-lg" alt="webpage screenshot" />
          </div>
          <div class="col-span-2">
            <Image src={webpage6} class="shadow-lg" alt="webpage screenshot" />
          </div>
        </div>
        <SmallHeading text="Sketches" />
        <div class="grid grid-cols-2 gap-8">
          <div class="col-span-1">
            <Image src={sketch1} class="shadow-lg" alt="sketch" />
          </div>
          <div class="col-span-1">
            <Image src={sketch2} class="shadow-lg" alt="sketch" />
          </div>
          <div class="col-span-1">
            <Image src={sketch3} class="shadow-lg" alt="sketch" />
          </div>
          <div class="col-span-1">
            <Image src={sketch4} class="shadow-lg" alt="sketch" />
          </div>
          <div class="col-span-1">
            <Image src={sketch5} class="shadow-lg" alt="sketch" />
          </div>
          <div class="col-span-1">
            <Image src={sketch6} class="shadow-lg" alt="sketch" />
          </div>
        </div>
      </div>
    </ProjectGrid>
    <style></style>
  </main>
</Layout>
