---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import Link from "../../components/Link.astro";
import Microcopy from "../../components/Microcopy.astro";
import Caption from "../../components/Caption.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";

import italianAlps from "../../images/glaciers/italian-alps.png";
import world from "../../images/glaciers/world.gif";
import gulkana from "../../images/glaciers/gulkana.gif";
import lemonCreek from "../../images/glaciers/lemon-creek.gif";
import wolverine from "../../images/glaciers/wolverine.gif";
import southCascade from "../../images/glaciers/south-cascade.gif";
import glaciers from "../../images/glaciers/glaciers.gif";

import webm from "../../images/glaciers/witnessing_glaciers.mp4";
import webm2 from "../../images/glaciers/a_dangerously_unscientific_study_on_glaciers_and_sea_level.mp4";

import webpage1 from "../../images/glaciers/webpage1.png";
import webpage2 from "../../images/glaciers/webpage2.png";
import webpage3 from "../../images/glaciers/webpage3.png";
import webpage4 from "../../images/glaciers/webpage4.png";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Witnessing Glaciers"
      objective="Design a website to visualize climate-related news data."
      types={["Website", "Research"]}
      collaborators={[]}
      year="2022"
    />
    <div class="">
      <div class="mx-auto border-b">
        <video playsinline autoplay muted loop>
          <source src={webm} type="video/webm" />
        </video>
      </div>
      <ProjectGrid>
        <div class="col-span-1 lg:col-span-2">
          <SmallHeading text="Problem" />
          <p>
            During a workshop with
            <Link
              href="https://scottreinhard.com/"
              name="Scott Reinhard (Graphics Editor at The New York Times)"
            />
            , I explored data visualization related to climate change and glaciers.
            The final prototype is a website which features a globe populated by
            all of the world’s glaciers, designated by white specks. A few key glaciers
            have been identified and marked with larger sphere which turn red as
            the user scrolls and reads their corresponding text. All of the data
            comes from the
            <Link
              name="World Glacier Monitoring Service."
              href="https://wgms.ch/"
            />
            Using javascript and ThreeJS I was able to place all of the glaciers
            on this model of Earth.
          </p>
        </div>
        <div class="col-span-2">
          <SmallHeading text="Screenshots" />
          <div class="grid grid-cols-2 gap-8 mb-8">
            <div class="col-span-2">
              <Image
                src={webpage1}
                class="shadow-lg"
                alt="webpage screenshot"
              />
            </div>
            <div class="col-span-2">
              <Image
                src={webpage2}
                class="shadow-lg"
                alt="webpage screenshot"
              />
            </div>
            <div class="col-span-2">
              <Image
                src={webpage3}
                class="shadow-lg"
                alt="webpage screenshot"
              />
            </div>
            <div class="col-span-2">
              <Image
                src={webpage4}
                class="shadow-lg"
                alt="webpage screenshot"
              />
            </div>
          </div>
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <SmallHeading text="Research" />
          <p>
            Starting with an investigation of current climate change issues, I
            came across several stories about melting ice caps. I was originally
            interested in the Alps in Italy. But later broadened my scope.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            class="pb-3 shadow-lg"
            src={italianAlps}
            alt="Screenshot of figma file with images of the alps and data graphics"
          />
          <Caption text="Collecting research in figma" />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            This eventually led me to glaciers, which have been changing size at
            alarming rates. I started out by sketching in Processing, using GPS
            coordinates and glacial masses from
            <Link
              href="https://wgms.ch/data_databaseversions/"
              name="WGMS’s Fluctuations of Glaciers Databases"
            />
            . The simple sketch shows the world’s glaciers in their relative positions,
            their color fades from white to black in accordane with their mass. As
            years pass, the glaciers fade.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            class="pb-3"
            src={world}
            alt="Data visualization of the world's glaciers shrinking over time"
          />
          <Caption text="Processing sketch" />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Next, I looked at the Benchmark Glaciers from a USGS dataset.
            <Link
              href="https://www.usgs.gov/faqs/what-benchmark-glacier"
              name="The Benchmark Glaciers"
            />
            are four North American glaciers which have been chosen for longterm
            monitoring. Using the dataset I was able to make representations in Processing
            of 3D boxes based on the glaciers’ area and elevation over the years.
          </p>
        </div>
        <div class="col-span-1 flex flex-wrap">
          <Image
            class="p-1 w-1/2"
            src={gulkana}
            alt="gif of gulkana galcier represented as a wireframe cube that is shrinking"
          />
          <Image
            class="p-1 w-1/2"
            src={wolverine}
            alt="gif of wolverine galcier represented as a wireframe cube that is shrinking"
          />
          <Image
            class="p-1 w-1/2"
            src={lemonCreek}
            alt="gif of lemon creek galcier represented as a wireframe cube that is shrinking"
          />
          <Image
            class="p-1 w-1/2"
            src={southCascade}
            alt="gif of south cascade galcier represented as a wireframe cube that is shrinking"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Next, Scott encouraged me to commit to design explorations that were
            non-graphic. He encouraged me to do one exploration off of the
            computer and one exploration with sound. The first exploration was a
            timelapse of a large ice cube melting. One neat observation from
            this study was the realization that large ice cubes melt from their
            interiors.
          </p>
        </div>
        <div class="col-span-1">
          <video playsinline autoplay muted loop>
            <source src={webm2} type="video/webm" />
          </video>
          <Caption
            text="A dangerously unscientific study on glaciers and sea level"
          />
        </div>
        <!--////////////////////////////-->
        <div class="col-span-1">
          <p>
            Next, I learned how to map the glacier data points onto a 3D globe
            using Three.js. When I find the time, I would like to turn the
            website into an interactive database style website. Visitors would
            be able to look through all of the world’s glaciers on the globe
            interface and explore data related to their health and sizes.
          </p>
        </div>
        <div class="col-span-1">
          <Image
            class="pb-3"
            src={glaciers}
            alt="Screen recording of an early mockup which showed every glacier in the world on a 3d globe"
          />
          <Caption text="Mapping every glacier in the world" />
        </div>
      </ProjectGrid>
    </div>
  </main>
</Layout>
