---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";

import webm from "../../images/homepage/animism.webm";

const title="Animistic Design"
        const description="this is an explanation about project 4"
        const year="2022"
        const types=["Teaching // ", "AI"]
        const size="small"
        const hasVideo=true
        const src="src/images/homepage/animism.gif"
        const alt="Slideshow of images from class on animism"
---

<Card size="small">
    <div class="pb-3 text-center">
      <CardLabel value={title} , isLarge={true} />
    </div>
    <div class={hasVideo ? "" : "hidden"}>
        <video width="600" height="600" playsinline autoplay muted loop>
            <source src={webm} type="video/webm">
        </video>
    </div>
    <div class="flex justify-between pt-3">
      <div class="flex flex-wrap gap-2">
        {
          types.map((type) => (
          <CardLabel value={type} , isLarge={false} />
          ))
        }
      </div>
      <div class="">
        <CardLabel value={year} , isLarge={false} />
      </div>
    </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
