---
import CardLabel from "../Card-label.astro";
import { Image } from "astro:assets";
import Card from "../Card.astro";

import gif from "../../images/homepage/concert-interface.gif";
import video from "../../images/homepage/concert-interface.webm";

const title = "DIY Concerts";
const description = "asdf";
const year = "2021";
const types = [
  { text: "Speculative", special: false },
  { text: "Visual", special: false },
];
const size = "small";
const hasVideo = false;
const alt =
  "Kaitlyn Aurelia Smith in a experimental concert interface with cursors moving images around the screen";
---

<Card size="small" href="#" title={title} types={types} year={year}>
  <div class="video hidden md:block">
    <video
      class="transition-all group-hover:rounded-xl"
      playsinline
      autoplay
      muted
      loop
    >
      <source src={video} type="video/webm" />
    </video>
  </div>
  <div class="gif block md:hidden">
    <Image src={gif} alt={alt} />
  </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
