---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import video from "../../images/homepage/physical-manifestation.webm";
import { Image } from "astro:assets";
import gif from "../../images/homepage/physical-manifestation.gif";

const title = "Critical Images";
const description = "asdf";
const year = "2023";
const types = ["Graphic Design", "Speculative"];
const hasVideo = true;
const alt =
  "3D text which reads the Designer likewise becomes the physical manifestation of the work";
---

<Card size="small" href="#" title={title} types={types} year={year}>
  <div class="video hidden md:block">
    <video playsinline autoplay muted loop>
      <source src={video} type="video/webm" />
    </video>
  </div>
  <div class="gif block md:hidden">
    <Image src={gif} alt={alt} />
  </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
