---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";

import gif from "../../images/homepage/deliberate.gif";
import video from "../../images/homepage/deliberate.webm";
import image from "../../images/homepage/deliberate-ai-card.png";

const title = "Deliberate AI";
const description = "asdf";
const year = "2022";
const types = [
  { text: "Design System", special: false },
  { text: "UX", special: false },
  { text: "AI", special: false },
];
const size = "small";
const hasVideo = false;
const alt =
  "Deliberate AI logo and screens from prototypes for the Deliberate AI health application.";
---

<Card
  size="small"
  href="projects/deliberate"
  title={title}
  types={types}
  year={year}
>
  <div class="gif">
    <Image src={image} alt={alt} />
  </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
