---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";

import myImage from "../../images/homepage/deliberate.png";

const title = "Deliberate AI";
const description = "asdf";
const year = "2022";
const types = ["User Experience"];
const size="small";
const hasVideo = false;
const alt = "Deliberate AI logo and screens from prototypes for the Deliberate AI health application.";
---

<Card size="small" href="#">
    <div class="pb-3 text-center">
      <CardLabel value={title} , isLarge={true} />
    </div>
    <Image src={myImage} alt={alt} />
    <div class="flex justify-between pt-3">
      <div class="flex flex-wrap gap-2">
        {
          types.map((type) => (
          <CardLabel value={type} , isLarge={false} />
          ))
        }
      </div>
      <div class="">
        <CardLabel value={year} , isLarge={false} />
      </div>
    </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
