---
import CardLabel from "../Card-label.astro";
import { Image } from "astro:assets";
import Card from "../Card.astro";

import gif from "../../images/homepage/fidelity.gif";
import video from "../../images/homepage/fidelity.webm";

const title = "Fidelity Student Debt";
const description = "asdf";
const year = "2023";
const types = [
  { text: "UX", special: false },
  { text: "Research", special: false },
];
const size = "large";
const hasVideo = false;
const alt = "Screenshot of user experience work in figma";
---

<Card
  size="small"
  href="projects/fidelity"
  title={title}
  types={types}
  year={year}
>
  <div class="video hidden md:block">
    <video
      class="transition-all"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source src={video} type="video/webm" />
    </video>
  </div>
  <div class="gif block md:hidden">
    <Image class="transition-all group-hover:rounded-xl" src={gif} alt={alt} />
  </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
