---
import CardLabel from "../Card-label.astro";
import { Image } from "astro:assets";
import Card from "../Card.astro";

import gif from "../../images/homepage/fidelity2.png";
import video from "../../images/homepage/fidelity.webm";
import preview from "../../images/homepage/FDS copy.png";

const title = "Fidelity Student Debt";
const description = "asdf";
const year = "2024";
const types = [
  { text: "UX", special: false },
  { text: "Research", special: false },
  { text: "Website", special: false },
  { text: "CaseStudy", special: true },
];
const size = "small";
const hasVideo = false;
const alt = "Screenshot of user experience work in figma";
---

<Card
  size="large"
  href="projects/fidelity"
  title={title}
  types={types}
  year={year}
  myColor="ghostwhite"
>
  <div class="video hidden">
    <video
      class="transition-all"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source src={video} type="video/webm" />
    </video>
  </div>
  <div class="block">
    <div class="">
      <Image class="rounded-md" src={preview} alt={alt} />
    </div>
  </div>
</Card>

<style>
  .bg-color {
    background-color: var(--myColor);
  }
</style>
