---
import CardLabel from "../Card-label.astro";
import { Image } from "astro:assets";
import Card from "../Card.astro";

import gif from "../../images/homepage/fidelity2.png";
import video from "../../images/homepage/fidelity.webm";
import preview from "../../images/homepage/FDS copy.png";

const title = "Fidelity Student Debt";
const description = "asdf";
const year = "2024 — 2025";
const types = [
  { text: "UX", special: false },
  { text: "Research", special: false },
  { text: "Website", special: false },
];
const size = "small";
const hasVideo = false;
const alt = "Screenshot of user experience work in figma";
---

<Card
  size="medium"
  href="projects/fidelity"
  title={title}
  types={types}
  year={year}
  myColor="ghostwhite"
  description="Improving how user's interact with Fidelity's benefit tool that uses employer payments to pay down Student Debt."
>
  <div class="video hidden">
    <video
      class="transition-all"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source src={video} type="video/webm" />
    </video>
  </div>
  <div class="block">
    <Image src={preview} alt={alt} />
  </div>
</Card>

<style>
  .bg-color {
    position: relative;
    background-color: var(--myColor);
  }
</style>
