---
import Card from "../Card.astro";
import { Image } from "astro:assets";
import video from "../../images/greenways/homepage-thumb.webm";
import videoMp4 from "../../images/greenways/homepage-thumb.mp4";
import poster from "../../images/greenways/greenways-rec-poster.jpg";

const props = {
  title: "Greenways.com",
  description:
    "Designing a new website to catalog the work of Greenways Inc. and attract new clients to their landscape architecture and greenways consulting business.",
  year: "2025",
  types: [
    { text: "Website", special: false },
    { text: "Branding", special: false },
    { text: "Development", special: false },
  ],
  size: "medium",
  href: "projects/greenways",
  myColor: "honeydew",
  alt: "Clip of zooming out from astronaut perspective up to whale perspective",
};
---

<Card {...props}>
  <div class="hidden md:block">
    <video
      class="transition-all"
      playsinline
      autoplay
      muted
      loop
      preload="metadata"
      poster={poster.src}
    >
      <source src={video} type="video/webm" />
      <source src={videoMp4} type="video/mp4" />
    </video>
  </div>
  <div class="flex md:hidden">
    <Image
      class="transition-all"
      src={poster}
      alt={props.alt}
      loading="lazy"
    />
  </div>
</Card>
