---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";

import video from "../../images/homepage/public-transit.webm";
import gif from "../../images/homepage/public-transit.png";

import { Image } from "astro:assets";

const title = "Imagine Public Transit";
const description = "asdf";
const year = "2023";
const types = [
  { text: "Branding", special: false },
  { text: "Speculative", special: false },
];
const size = "small";
const hasVideo = true;
const alt =
  "Billboard mocked up with design of text reading a car is great mode of transit provided that noone else has it";
---

<Card
  size="small"
  href="projects/imagine-public-transport"
  title={title}
  types={types}
  year={year}
  myColor="skyblue"
>
  <div class="video hidden">
    <video
      class="transition-all"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source
        src={video}
        type="video/webm"
        media="screen and (min-width:640px)"
      />
    </video>
  </div>
  <div class="gif block">
    <Image class="" src={gif} alt={alt} class="image-center" />
  </div>
</Card>
