---
import Card from "../Card.astro";
import { Image } from "astro:assets";

import png from "../../images/homepage/lasbackup.png";

const title = "Laboratory for Analytic Sciences";
const year = "2022";
const types = [
  { text: "UX", special: false },
  { text: "AI", special: false },
  { text: "CaseStudy", special: true },
];
const alt =
  "Three images of prototypes made for this project overlayed on one another and a purple gradient background";
const description="Designing an interface for knowledge workers, in partnership with NC State's Laboratory for Analytic Sciences."
---

<Card
  href="projects/las"
  title={title}
  types={types}
  year={year}
  description={description}
>
  <div class="block">
    <Image src={png} alt={alt} loading="lazy" />
  </div>
</Card>
