---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";

import myImage from "../../images/homepage/no-content.png";

const title = "Nothing";
const description = "this is an explanation about project 4";
const year = "2023";
const types = [
  { text: "Speculative", special: false },
  { text: "Branding", special: false },
];
const size = "small";
const hasVideo = false;
const src = "src/images/homepage/no-content.png";
const alt =
  "Fake marketing slide for Nothing social media. Text reads What if social networking was content free? With three phones next to it displaying the app.";
---

<Card
  size="tall"
  href="projects/nothing"
  title={title}
  types={types}
  year={year}
  myColor="#E5E0F5"
  noShadow="true"
  description="Designing a touch-in-cheek social media application that contains no actual content."
>
  <div class="flex justify-center items-center bg-color h-full">
    <div class="video h-min">
      <Image src={myImage} alt={alt} class="" />
    </div>
  </div>
</Card>

<style>
  img {
    width: 100%;
  }

  .bg-color {
    position: relative;
    background-color: var(--myColor);
  }
</style>
