---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";

import image from "../../images/homepage/npca.png";

const title = "National Peace Corps Association";
const description = "asdf";
const year = "2020–2021";
const types = [
  { text: "Website", special: false },
  { text: "Branding", special: false },
];
const hasVideo = false;
const alt = "Images of work I did with NPCA";
---

<Card
  size="small"
  href="projects/npca"
  title={title}
  types={types}
  year={year}
  myColor="#D9E5E7"
>
  <div class="gif md:flex justify-center items-center bg-color h-full">
    <div class="rounded-sm shadow-xl video w-5/6 h-min">
      <Image src={image} alt={alt} class="rounded-sm" />
    </div>
  </div>
</Card>

<style>
  img {
    width: 100%;
  }

  .bg-color {
    background-color: var(--myColor);
  }
</style>
