---
import Card from "../Card.astro";
import { Image } from "astro:assets";
import image from "../../images/homepage/size-scale-still.png";
import video from "../../images/homepage/size&scale.webm";
import videomp4 from "../../images/homepage/size&scale.mp4";

const title = "Scale Worlds";
const year = "2021–2023";
const types = [
  { text: "VR", special: false },
  { text: "Web", special: false },
  { text: "Research", special: false },
];
const alt = "Scale Worlds web interface showing size comparison across scales";
const description = "Designing immersive learning environments—first in VR, then adapted for the web—to help students understand size and scale.";
---

<Card
  href="projects/scale-worlds"
  title={title}
  types={types}
  year={year}
  description={description}
>
  <div class="hidden md:block">
    <video
      class="transition-all"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source src={video} type="video/webm" />
      <source src={videomp4} type="video/mp4" />
    </video>
  </div>
  <div class="flex md:hidden">
    <Image class="transition-all" src={image} alt={alt} loading="lazy" />
  </div>
</Card>
