---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import video from "../../images/homepage/size&scale2.mp4"
import {Image} from "astro:assets";
import gif from "../../images/homepage/size&scale2.gif"

const title="Visualizing Size & Scale"
const description="this is an explanation about project 1"
const year="2023"
const types=["Research // ", "User Experience // ", "Web development"]
const size="medium"
const hasVideo=true
const alt="Clip of zooming out from astronaut perspective up to whale perspective"
---

<Card size="medium" href="projects/size-and-scale">
  <div class="pb-3 text-center">
    <CardLabel value={title} , isLarge={true} />
  </div>
  <!-- <Image src={myImage} alt="image of the highest mountain" /> -->
  <div class="video">
    <video width="600" height="600" playsinline autoplay muted loop>
        <source src={video} type="video/mp4">
    </video>
  </div>
  <div id="gif">
    <Image src={gif} alt={alt} />
  </div>
    <div class="flex justify-between pt-3">
      <div class="flex flex-wrap gap-2">
        {
          types.map((type) => (
          <CardLabel value={type} , isLarge={false} />
          ))
        }
      </div>
      <div class="">
        <CardLabel value={year} , isLarge={false} />
      </div>
    </div>
  </Card>

<style>
  img {
    width: 100%;
  }
</style>

<script>
  let canPlay = false
  let v = document.createElement("video");
  if (v.canPlayType && v.canPlayType("video/mp4").replace(/no/, "")) {
    canPlay = true;
    document.getElementById("gif").classList.add("hidden");
  } else {
    document.getElementById("video").classList.add("hidden");
  }
</script>
