---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";

import gif from "../../images/homepage/speculative-design-workshop.gif";
import video from "../../images/homepage/speculative-design-workshop.webm";

const title = "Speculative Design Workshop";
const description = "asdf";
const year = "2022";
const types = [{ text: "Teaching", special: false }];
const size = "small";
const hasVideo = false;
const alt =
  "Screenshot of the miro board that was used in the design workshop. Shows lots of text which is unreadable and small images";
---

<Card
  size="small"
  href="projects/speculative"
  title={title}
  types={types}
  year={year}
>
  <div class="video hidden md:block">
    <video
      class="transition-all"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source src={video} type="video/webm" />
    </video>
  </div>
  <div class="gif block md:hidden">
    <Image src={gif} alt={alt} />
  </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
