---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";

import gif from "../../images/homepage/terrafirma.gif";
import video from "../../images/homepage/terrafirma.webm";

const title = "Terrafirma Software";
const description = "asdf";
const year = "2021";
const types = [
  { text: "Visual", special: false },
  { text: "Website", special: false },
];
const size = "small";
const hasVideo = false;
const alt = "Terrafirma logo and other branded materials including webpages";
---

<Card size="small" href="#" title={title} types={types} year={year}>
  <div class="video hidden md:block">
    <video
      class="transition-all group-hover:rounded-xl"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source src={video} type="video/webm" />
    </video>
  </div>
  <div class="gif block md:hidden">
    <Image src={gif} alt={alt} />
  </div>
</Card>

<style>
  img {
    width: 100%;
  }
</style>
