---
import CardLabel from "../Card-label.astro";
import Card from "../Card.astro";
import video from "../../images/homepage/vespertine.webm";
import videomp4 from "../../images/homepage/vespertine.mp4";
import image from "../../images/homepage/vespertine.png";
import { Image } from "astro:assets";

const title = "Vespertine";
const description = "asdf";
const year = "2023";
const types = [
  { text: "Website", special: false },
  { text: "Branding", special: false },
];
const hasVideo = true;
const alt =
  "Video of webpage about Bjork's Vespertine. Shows text of album title in front of three dimensional house";
---

<Card
  size="small"
  href="projects/vespertine"
  title={title}
  types={types}
  year={year}
  myColor="#BEFC5B"
  description="Building a scrolly-telling website for Bjork's album Vespertine."
>
  <div class="hidden sm:block">
    <video
      class="transition-all video-center"
      playsinline
      autoplay
      muted
      loop
      preload="none"
    >
      <source
        src={video}
        type="video/webm"
      />
      <source
        src={videomp4}
        type="video/mp4"
      />
    </video>
  </div>
  <div class="gif block sm:hidden">
    <Image class="transition-all" src={image} alt={alt} loading="lazy" />
  </div>
</Card>
