---
import CardLabel from "../Card-label.astro";
import src from "../../images/homepage/glaciers.webm"

const title="Witnessing Glaciers"
const description="this is an explanation about project 1"
const year="2022"
const types=["Web development // ", "Three JS"]
const size="medium"
const hasVideo=true
const alt="Clip of zooming out from astronaut perspective up to whale perspective"
---

<div
class=
"bg-white hover:bg-blue px-12 py-3 group w-full col-span-2 row-span-2 relative transition ease-in-out hover:cursor-pointer"
>
<div class="flex flex-col justify-between min-h-full">
<div class="pb-3 text-center">
  <CardLabel value={title} , isLarge={true} />
</div>
<!-- <Image src={myImage} alt="image of the highest mountain" /> -->
<div class={hasVideo ? "" : "hidden"}>
  <video width="600" height="600" playsinline autoplay muted loop>
    <source src={src} type="video/webm">
  </video>
</div>
<div class="flex justify-between pt-3">
  <div class="flex flex-wrap gap-2">
    {
      types.map((type) => (
      <CardLabel value={type} , isLarge={false} />
      ))
    }
  </div>
  <div class="">
    <CardLabel value={year} , isLarge={false} />
  </div>
</div>
</div>
</div>

<style>
img {
width: 100%;
}
</style>
